
.row {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
    height: 150px;
}

#ganhos {
    padding: 20px;
    background-color: slateblue;
}

#economia{
    padding: 20px;
    background-color: #D1C4E6;
}


#gastos {
    padding: 20px;
    background-color: royalblue;
}

.inputGanhos[type=string] {
    background-color: slateblue;
    color: white;
    border: none;

  }

  .inputEconomia[type=string] {
    background-color: #D1C4E6;
    color: white;
    border: none;

  }

  .inputGastos[type=string] {
    background-color: royalblue;
    color: white;
    border: none;

  }

  

.grafico-container {
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e3536b;
}

/*.tabela-container {
    display: flex;
    justify-content: space-around;
}*/


