<div class="main-content">
  <div class="cards-container">
    <div class="row">
      <div class="col-sm" id="ganhos">
        <div class="icone-ganhos">
          <span class="material-icons">
            attach_money
          </span>
        </div>
        <p class="card-category">Ganhos</p>
        <input class="inputGanhos" type="string" placeholder="R$ 0,00" #ganhos>
        <div class="salvarRenda">
          <a mat-list-item routerLink="/"> 
            <i class="material-icons">
              add
            </i>
          </a>
        </div>
      </div>
      <div class="col-sm" id="economia">
        <div class="icone-economia">
          <span class="material-icons">
            savings
          </span>
        </div>
        <p class="card-category">Economias</p>
        <input class="inputEconomia" type="string" placeholder="R$ 0,00" >
        <div class="salvarEconomia">
          <a mat-list-item routerLink="/"> 
            <i class="material-icons">
              add
            </i>
          </a>
        </div>
      </div>
      <div class="col-sm" id="gastos">
        <div class="icone-gastos">
          <span class="material-icons">
            money_off
          </span>
        </div>
        <p class="card-category">Gastos</p>
        <input class="inputGastos" type="string"placeholder="R$ 0,00">
      </div>

      


    </div>
  </div>


  <div class="tabela-container">
    <div class="tabelaFixa">
      <app-tabela></app-tabela>
    </div>

    <div class="tabelaVariavel">
      <app-tabelavar>
        <a routerLink='/despesasVar'></a>
      </app-tabelavar>
    </div>
  </div>

  <div class="grafico-container">
    <app-grafico-real></app-grafico-real>
    <app-grafico-ideal></app-grafico-ideal>
  </div>

</div>
