<h1 mat-dialog-title>Minhas Economias</h1>

<div div mat-dialog-content>
  <label for="aluguel">aluguel</label>
  <input type="text">
    <label for="transporte">transporte</label>
  <input type="text">
    <label for="internet">internet</label>
  <input type="text">
    <label for="alimentacao">alimentacao</label>
  <input type="text">
    <label for="agua">agua</label>
  <input type="text">
    <label for="luz">luz</label>
  <input type="text">
    <label for="academia">academia</label>
  <input type="text">
    <label for="telefone">telefone</label>
  <input type="text">
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary">Salvar</button>
  <button mat-button (click)="cancel()">No Thanks</button>

</div>
