<h1 mat-dialog-title>Minhas Economias</h1>

<div div mat-dialog-content>
  <input type="text">
  <label for="investimento">investimento</label>
  <input type="text">
  <label for="lazer">lazer</label>
  <input type="text">
  <label for="saude">saude</label>
  <input type="text">
  <label for="medicamento">medicamento</label>
  <input type="text">
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary">Salvar</button>
  <button mat-button (click)="cancel()">No Thanks</button>

</div>

