<h1 mat-dialog-title>Ganhos Totais</h1>
<!--<div mat-dialog-content>
  <form class="formGanhos" [formGroup]="rendaForm">
    <mat-form-field class="formGanhos-full-width">
      <mat-label>Informe seus ganhos totais</mat-label>
      <input matInput formControlName="renda" name="renda">
    </mat-form-field>
  </form>

</div>-->
<div div mat-dialog-content>
  <input type="text">
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary">Salvar</button>
  <button mat-button (click)="cancel()">No Thanks</button>

</div>